@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('path/to/poppins/font/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('path/to/poppins/font/Poppins-SemiBold.ttf') format('truetype');
}

html {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}
